@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

.TodoSearch{
    background:#f9fbfc;
    border-radius:2px;
    border:3px solid #f5e1a4;
    margin:0 24px;
    height:64px;
    width:calc(100% - 62px);
    font-size:24px;
    text-align:center;
    font-family:montserrat;
    font-weight:400;
    color:#212529;
    box-shadow:0 5px 50px #f5e1a4;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}
.TodoSearch::placeholder{
    color:#a5a5a5;
    font-family:montserrat;
    font-weight:400
}
.TodoSearch:focus{
    outline-color:#f5e1a4
}