p {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
  }

  span{
    font-size: 35px;
    color: #f5e1a4;
    font-weight: bold;

  }
  